
.welcome {
  background-image: url("https://netology-code.github.io/html-2-homeworks/popup-elements/tour-page-header/img/barcelona.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}