@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-weight: bold;
}

ul p,
ul h5,
ul h4,
ol p,
ol h5,
ol h4{
    margin: 0;
}

li {
    margin-bottom: 10px;
}

img {
    width: 100%;
}

figure {
    width: 30%;
}