
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 0;
}

.hero {
  box-sizing: border-box;
  min-width: 1200px;
  min-height: 100vh;
  padding: 80px 20px 50px;
  
  display: flex;
  color: #ffffff;
  background-size: cover;
  
  position: relative;
  z-index: 1;
}

.hero:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.hero-container {
  margin: auto;
  width: 1200px;
  flex: none;
}

.hero-label {
  font-weight: 700;
  font-size: 40px;
}

.courses {
  margin-top: 100px;
}

.courses-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.courses-hint {
  display: block;
  font-size: 24px;
  font-weight: 700;
}

.course {
  display: inline-block;
  border: 1px solid #ffffff;
  box-shadow: 0 10px 30px 0 rgba(9, 44, 80, 0.2);
  border-radius: 40px;
  
  color: inherit;
  text-decoration: none;
}
