body {
  margin: 0;
  font-family: arial, sans-serif;
}

.card {
  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  
  box-shadow: 1px 1px 7px 1px rgba(187, 177, 177, .65);
  border: 1px solid #eee;
  border-radius: 3px;
  
  display: flex;
  align-items: flex-start;
}

.card-img {
  border: 1px solid #ddd;
  width: 180px;
  flex: none;
}
