/*
демо
*/
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  
  height: 100vh;
  display: flex;
  align-items: center;
  
}

.page {
  width: 400px;
  padding: 50px;
  border: 1px solid #cbd1d4;
  
  margin-left: auto;
  margin-right: auto;
}

.form-group:nth-child(n+2) {
  margin-top: 25px;
}

.select-group {
  display: block;
}

.select-label {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
}

.checkbox-group {
  display: block;
  font-size: 14px;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  
  padding: 8px 20px;
  border: 1px solid #0f8fee;
  background-color: #0f8fee;
  
  cursor: pointer;
}

.button:hover {
  background-color: #1b89dc;
  border-color: #1b89dc;
}

.button:focus {
  outline: 2px solid #0f8fee;
  outline-offset: 4px;
}


