.select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 38px;
  
  padding-left: 10px;
  padding-right: 25px;
  
  margin: 0;
  
  border: 1px solid #cbd1d4;
  background-color: #f9f9f9;
  
  font-size: 14px;
  font-family: Arial,sans-serif;
  color: #333333;
}

.select:focus {
  outline: 2px solid #0f8fee;
  outline-offset: 4px;
}

.checkbox-text {
  display: inline-block;
}

.checkbox-text::before {
  margin-right: 8px;
}

.checkbox:focus ~ .checkbox-text::before {
  outline: 2px solid #0f8fee;
  outline-offset: 2px;
}
