.button {
  padding: 15px 35px;
  border: none;
  background-color: #ee6e73;
  
  font-size: 17px;
  color: #ffffff;
  text-transform: uppercase;
  
  cursor: pointer;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}